{% extends 'base.html.twig' %}

{% block title %}Reservation index{% endblock %}

{% block body %}
    <h2>Liste des réservations</h2>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Nombre de Couvert</th>
                <th>Date</th>
                <th>Heure</th>
                <th>Allergie</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for reservation in reservations %}
            <tr>
                <td>{{ reservation.id }}</td>
                <td>{{ reservation.nom }}</td>
                <td>{{ reservation.nbCouvert }}</td>
                <td>{{ reservation.date ? reservation.date|date('Y-m-d') : '' }}</td>
                <td>{{ reservation.heure ? reservation.heure|date('H:i') : '' }}</td>
                <td>{{ reservation.allergie }}</td>
                <td>
                    <a href="{{ path('app_reservation_show', {'id': reservation.id}) }}">Affiche</a>
                    <a href="{{ path('app_reservation_edit', {'id': reservation.id}) }}">Editer</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">Aucun enregistrement trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_reservation_new') }}">Créer nouvelle réservation</a>
{% endblock %}
