{% extends 'base.html.twig' %}

{% block title %}Liste des Horaires{% endblock %}

{% block body %}
    <h2>Liste des horaires</h2>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Jour</th>
                <th>Debut</th>
                <th>Fin</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for horaire in horaires %}
            <tr>
                <td>{{ horaire.id }}</td>
                <td>{{ horaire.jour }}</td>
                <td>{{ horaire.debut ? horaire.debut|date('H:i') : '' }}</td>
                <td>{{ horaire.fin ? horaire.fin|date('H:i') : '' }}</td>
                <td>
                    <a href="{{ path('app_horaire_show', {'id': horaire.id}) }}">Afficher</a>
                    <a href="{{ path('app_horaire_edit', {'id': horaire.id}) }}">Editer</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">Aucune entrée trouvée</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_horaire_new') }}">Créer nouvelle entrée</a>
{% endblock %}
