{% extends 'base.html.twig' %}

{% block title %}Liste des Photos{% endblock %}

{% block body %}
    <h1>Liste des Photos</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Titre</th>
                <th>Chemin</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for photo in photos %}
            <tr>
                <td>{{ photo.id }}</td>
                <td>{{ photo.titre }}</td>
                <td>{{ photo.chemin }}</td>
                <td>
                    <a href="{{ path('app_photo_show', {'id': photo.id}) }}">Afficher</a>
                    <a href="{{ path('app_photo_edit', {'id': photo.id}) }}">Editer</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">Aucune entrée trouvée</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_photo_new') }}">Ajouter une nouvelle photo</a>
{% endblock %}
