{% extends 'base.html.twig' %}

{% block title %}Liste des formules{% endblock %}

{% block body %}
    <h2>Liste des formules</h2>
    <p>Avant d'ajouter une nouvelle formule, il faut au préalable définir un menu s'il n'est pas encore défini.</p>
    <p> Pour cela, veuillez cliquer sur le lien suivant: <a href="{{ path('app_menu_index') }}">Liste des menus</a></p>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Menu</th>                
                <th>Titre</th>
                <th>Disponibilité</th>
                <th>Description</th>
                <th>Prix</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for formule in formules %}
            <tr>
                <td>{{ formule.id }}</td>
                <td>{{ formule.menu }}</td>
                <td>{{ formule.titre }}</td>
                <td>{{ formule.disponibilite }}</td>
                <td>{{ formule.description }}</td>
                <td>{{ formule.prix }}</td>
                <td>
                    <a href="{{ path('app_formule_show', {'id': formule.id}) }}">Afficher</a>
                    <a href="{{ path('app_formule_edit', {'id': formule.id}) }}">Editer</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">Aucune entrée trouvée</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_formule_new') }}">Créer nouvelle formule</a>
{% endblock %}
