{% extends 'base.html.twig' %}

{% block title %}Liste des Menus{% endblock %}

{% block body %}
    <h2>Liste des Menus</h2>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Titre</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for menu in menus %}
            <tr>
                <td>{{ menu.id }}</td>
                <td>{{ menu.titre }}</td>
                <td>
                    <a href="{{ path('app_menu_show', {'id': menu.id}) }}">Afficher</a>
                    <a href="{{ path('app_menu_edit', {'id': menu.id}) }}">Editer</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">Aucune entrée trouvée</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_menu_new') }}">Créer nouvelle entrée</a>
    <a href="{{ path('app_formule_index') }}">Retour à la liste des formules</a>
{% endblock %}
