{% extends 'base.html.twig' %}

{% block title %}Liste des plats{% endblock %}

{% block body %}
    <h2>Liste des plats</h2>
    <p>Avant d'ajouter un nouveau plat, il faut au préalable définir une catégorie si elle n'est pas encore définie.</p>
    <p> Pour cela, veuillez cliquer sur le lien suivant: <a href="{{ path('app_categorie_index') }}">Liste des catégories</a></p>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Titre</th>
                <th>Categorie</th>
                <th>Description</th>
                <th>Prix</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for plat in plats %}
            <tr>
                <td>{{ plat.id }}</td>
                <td>{{ plat.titre }}</td>
                <td>{{ plat.categorie }}</td>
                <td>{{ plat.description }}</td>
                <td>{{ plat.prix }}</td>
                <td>
                    <a href="{{ path('app_plat_show', {'id': plat.id}) }}">Afficher</a>
                    <a href="{{ path('app_plat_edit', {'id': plat.id}) }}">Editer</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">aucune entrée trouvée</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_plat_new') }}">Créer nouveau plat</a>
{% endblock %}
